/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* dùng chung */
.col{
    width: 50%;
    float: left;
}

#main{
}
#header{
    background-color: black;
    height: 46px;   
    position: fixed; 
    right: 0;
    top: 0;
    left: 0;
    z-index: 1;
}
#nav{
    display: inline-block;
}
#nav > li {
    position: relative;
    display: inline-block;
}
#nav > li > a{
    color: white;
    text-transform: uppercase;
}
#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
}
#nav > li:hover > a{
    background-color: gray;
    color: black;
    display: block;
}
#nav .subnav{
    display: none;
    position: absolute;
}
#nav .subnav li{
    display: block;
    background-color:white;
    
}
#nav .subnav a{
    color: black;
    line-height: 38px;
    padding: 0 16px;
}
#nav li:hover .subnav{
    display: block;
    animation: animation-hover 0.4s linear;
}
#nav .subnav li a:hover{
    background-color: red;
    color: black;
    display: block;
}
@keyframes animation-hover {
    0%{
        opacity: 0;
        transform: translateY(-84);
    }
    50%{
        opacity: 0.5;
        transform: translateY(-42);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
#header .search{
    float: right;
    color: white;
    line-height: 46px;
    padding: 0 24px;
}
#header .search:hover{
    background-color: red;
    cursor: pointer;
}

#slider{
    margin-top: 46px;
    padding-top: 50%;
    background-image: url(/asset/img/slider/chicago.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#slider .content{
    position: absolute;
    color: white;
    text-align: center;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 48px;
}
#slider .content .chicago{
    padding: 24px 0;
    font-size: 48px;
}
#content{

}
#content .section{
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    padding: 64px 16px;
}
#content .section .heading{
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
}
#content .section .sub-heading{
    text-align: center;
    font-size: 15px;
    margin: 15px 0;
    font-style: italic;
    opacity: 0.7;
}
#content .section .noidung{
    line-height: 1.4;
    text-align: justify;
    font-size: 15px;
}
#content .member-list{
    margin-top: 47px;
    overflow: hidden;
}
#content .member{
   float: left;
   width: 33.33333%;
   text-align: center;
}
#content .img{
    width: 150px;
    margin-top: 15px;
    border-radius: 5px;
}
/* tour */
.tour{
    background-color: black;
}

.time{
    background-color: white;
}
.time > li{
    border:bottom gray solid 1px;
    font-size: 15px;
    padding: 13px 11px;
    border-bottom: solid #ddd 1px;
}

.time .sold-out{
    background-color: red;
    font-size: 15px;
    margin: 20px;
    padding: 3px 4px;
    color: white;
}
.time .quanlity{
    float: right;
    background-color: black;
    color: white;
    border-radius: 50%;
    font-size: 24px;
    text-align: center;
    padding: 3px 7px;
    margin-top: -8px;
}
.place-list{
    margin-top: 32px;
    overflow: hidden;
    margin-left: -8px;
    margin-right: -8px;
}
.place{
    float: left;
    width: 33.33333%; 
    padding: 0 8px;  
}
.place .body .about{
    background-color: white;
    padding: 0 8px;
    font-size: 15px;
    margin-top: -4px;
    font-family: sans-serif;
}
.place .place-iteam {
    padding: 15px 0;
    font-size: 15px;
}
.place .place-time{
    padding-bottom: 15px;
}
.place .introduce{
    padding-bottom: 15px;
}
.place img{
    width: 100%;
}
.buy-ticket-btn{
    background-color: black;
    padding: 8px 16px;
    margin-bottom: 16px;
    display: inline-block;
    color: white;
    text-decoration: none;
}
.buy-ticket-btn:hover{
    background-color: gray;
    color: black;
    cursor: pointer;
}
    /* contact */
.infor-us p{
    font-size: 18px;
    margin-bottom: 12px;
}
input{
    padding: 0 8px;
    font-size: 15px;
}
input.Box-name, .Box-email {
    width: 45%;
    height: 40px;
    padding: 8px;
    margin: 0 8px;
}
.Box-message{
    width: calc(90% + 20px);
    height: 40px;
    padding: 8px;
    margin: 8px;
}
.send{
    float: right;
    background-color: black;
    color: white;
    padding: 8px 12px;
    margin-right: 8px;
    margin-bottom: 64px
}
.send:hover{
    background-color: gray;
    color: black;
    cursor: pointer;
}
/* map */
.map{
    width: 100vw;
}

/* modal */
.modal{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
}
.modal.open{
    display: flex;
}
.modal-contain{
    background-color: #009688;
    width: 900px;
    min-height: 300px;
    position: relative;
    max-width: calc(100% - 21px);
    animation: modalFadeIn ease 0.6s;
}
.close{
    position: absolute;
    top: 0;
    right: 0;
    color: black;
    padding: 12px;
    font-size: 12px;
    color: white;
}
.close:hover{
    background-color: gray;
    color: black;
    cursor: pointer;
}
.modal-heading {
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
    padding: 32px 16px;
}
.modal-body{
    background-color: white;
    color: black;
    display: block;
    padding: 0.15px 16px;
}
.modal-body input{
    width: 100%;
    padding: 8px;
    font-size: 16px;
}
.modal-body .label{
    padding: 15px 0 5px 0;
}
.modal-body .pay-ticket{
    margin: 16px 0;
    padding: 16px;
    width: 100%;
    background-color: #009688;
    font-size: 15px;
    color: white;
}
.modal-body .pay-ticket:hover{
   opacity: 0.8;
    cursor: pointer;
}
.modal-footer{
    background-color: white;
}
.modal-footer p{
    color: black;
    font-size: 15px;
    padding: 15px 16px;
    text-align: right;
}
.modal-footer p a{
    color: #2196F3;
}
@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-150px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
#footer{
    width: 100%;
    height: 216px;
    background-color: white;
    opacity: 0.7;
}
#footer .footer-contact{
   text-align: center;
   padding: 64px 16px;
   font-size: 24px;
}
#footer .footer-contact .icon:hover{
    opacity: 0.4;
}
#footer .end{
    margin-top: 24px;
    font-size: 15px;
}
#footer a{
    color: black;
}
